<div class="container">
  <div class="content col-lg-6">
    <h2 class="text-center">Book infomation form</h2>
    <form [formGroup]="bookForm" class="form-group" (submit)="onSubmit()">
      <div *ngFor="let item of bookValidate" class="input-container">
          <label>
            {{ item.name | titlecase }}
              <input *ngIf="item.type != 'select'" [type]="item.type" [required]="item.validate.required" [name]="item.name" [formControlName]="item.name" [(ngModel)]="book[item.name]" [placeholder]="item.name | titlecase" class="form-control">
              <select *ngIf="item.type == 'select'" [required]="item.validate.required" [name]="item.name" [formControlName]="item.name" class="form-control" [(ngModel)]="book[item.name]">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
          </label>
          <div class="alert alert-danger" *ngIf="bookForm.controls[item.name].invalid && (bookForm.controls[item.name].dirty || bookForm.controls[item.name].touched)">
            <p *ngIf="bookForm.controls[item.name].errors.required"><span>{{ item.name }}</span> is required.</p>
            <p *ngIf="bookForm.controls[item.name].errors.minlength"><span>{{ item.name }}</span> is so short.</p>
            <p *ngIf="bookForm.controls[item.name].errors.maxlength"><span>{{ item.name }}</span> is so long.</p>
            <p *ngIf="bookForm.controls[item.name].errors.pattern"><span>{{ item.name }}</span> only has alphabet and ('.,')</p>
          </div>
      </div>
      <button type="submit" [disabled]="!bookForm.valid">Submit</button>
    </form>
  </div>
</div>