.users {
    background-color: antiquewhite;
    .user {
        display: flex;
        padding: 20px;
        background-color: whitesmoke;
        &-avatar {
            clip-path: circle(50%);
            width: 7.5rem;
            height: 7.5rem;
        }
        &-info {
            padding: 20px;
        }
    }
}