<div class="container">
  <div *ngIf="data ; else loading" class="users">
    <div *ngFor="let user of data" class="user">
      <div class="user-avatar"><img [src]="user.avatar_url" [alt]="user.login + ' avatar'" width="100%"></div>
      <div class="user-info">
        <p class="user-name">User name: {{ user.login | titlecase }}</p>
        <p class="user-url"><a [href]="user.html_url">GitLab link!</a></p>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <h1 class="text-center">Loadding..</h1>
  </ng-template>
</div>