<div class="container">
  <form #f2="ngForm" method="post">
    <div class="form-group">
      <label>Search: </label>
      <input type="text" name="keySearch" #keySearch="ngModel" [(ngModel)]="search.keySearch"
             class="form-control" [required]="true" placeholder="Search key">
    </div>
    <button class="btn btn-success" (click)="btnSearch()" style="margin-right: 5px">Search</button>
    <button class="btn btn-primary" [routerLink]="['/book/all']">List Book</button>
  </form>
  <div>
    <ul id="listBook">
      <li *ngFor="let book of books" class="item" style="width: auto; height: auto; background: beige; margin-bottom: 10px">
        <div class="row">
          <div class="col-sm-4">
            <img src="{{book.bi_cover}}">
          </div>
          <div class="col-sm-8">
            <p>{{book.title}}</p>
            <p>{{book.content}}</p>
            <p>{{book.Excerpt}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
