<div class="container">
  <div *ngIf="data ; else loading" class="content">
    <div class="row">
      <div *ngFor="let book of data; let i = index" class="book col-md-6 col-lg-4">
        <div class="book-image"><img [src]="'https://picsum.photos/400/500?grayscale&random=' + (i + 1)" width="100%" alt="book-image"></div>
        <div class="book-content">
          <h4 class="book-title">{{ book.title | titlecase }}</h4>
          <p class="book-price">Price: {{ book.price }}$</p>
          <p class="book-rating">Rating: {{ book.rating }}</p>
          <p class="book-author">Author: {{ book.author | titlecase }}</p>
          <p class="book-publisher">Publisher: {{ book.publisher }}</p>
          <p class="book-published">Published: {{ book.published }}</p>
          <p class="book-pages">Pages: {{ book.pages }}</p>
          <p class="book-language">Language: {{ book.language | titlecase }}</p>
          <p class="book-format">Format: {{ book.format }}</p>
          <p class="book-isbn10">ISBN-10: {{ book.isbn10 }}</p>
          <p class="book-isbn13">ISBN-13: {{ book.isbn13 }}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <h1 class="text-center">Loading</h1>
  </ng-template>
</div>