<div class="container">
  <form [formGroup]="loginForm" class="form-group login" (submit)="login()">
    <input formControlName="name" type="text" class="form-control" [(ngModel)]="user.name">
    <input formControlName="password" type="password" class="form-control" [(ngModel)]="user.password">
    <button type="submit">login</button>
  </form>

  <!-- <form [formGroup]="signupForm" class="form-group signup" (submit)="signup()">
    <input formControlName="name" type="text" class="form-control" [(ngModel)]="user.name">
    <input formControlName="password" type="password" class="form-control" [(ngModel)]="user.password">
    <button type="submit">signup</button>
  </form> -->
</div>